
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #e9ecef;
}

/* Navbar style */
.navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Buttons padding */
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 40rem; /* Rounded buttons */
    transition: background-color 0.2s ease, color 0.2s ease;
}


.navbar-nav .nav-link.active {
    background-color: #0d6efd; /* Color for active button */
    color: #f8f9fa; 
    font-weight: 600; /*semi bold*/
}

.collapse:not(.show) {
        display: block;
        height: 0;
        overflow: hidden;
        transition: height 0.2s ease; /* Cambia qui la durata */
}

.collapse.show {
    height: auto;
    transition: height 0.2s ease;
}